astroid==3.0.3
autopep8==2.0.4
cfgv==3.4.0
dill==0.3.8
distlib==0.3.8
filelock==3.15.4
identify==2.5.36
isort==5.13.2
mccabe==0.7.0
nodeenv==1.9.1
numpy==2.0.0
opencv-python==4.10.0.84
platformdirs==4.2.0
pre-commit==3.7.1
pycodestyle==2.11.1
pygame-ce==2.4.0
pylint==3.0.3
PyYAML==6.0.1
tomlkit==0.12.3
virtualenv==20.26.3
